<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjcjava.entities.devicegps.DeviceGpsMapper">



	<!-- 根据id查询得到一个ServerDevice对象 -->
	<select id="getAllDeviceGps" resultType="com.zjcjava.entities.devicegps.DeviceGps">
		select * from
		devicegps
	</select>
	
	<select id="getDeviceGps" parameterType="int"
		resultType="com.zjcjava.entities.devicegps.DeviceGps">
		select * from devicegps where id=#{id}
	</select>
	
  <delete id="deleteDeviceGps" parameterType="java.lang.Integer">
    delete from devicegps
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertDeviceGps" parameterType="com.zjcjava.entities.devicegps.DeviceGps" useGeneratedKeys="true" keyProperty="id"  >

    insert into devicegps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="device_id != null">
        device_id,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="mark != null">
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="device_id != null">
        #{device_id,jdbcType=INTEGER},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
 
  <update id="updateDeviceGps" parameterType="com.zjcjava.entities.devicegps.DeviceGps">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 21 16:44:39 CST 2015.
    -->
    update devicegps
    <set>
      <if test="device_id != null">
        device_id = #{device_id,jdbcType=INTEGER},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>